@import '~office-ui-fabric-react/dist/sass/References.scss';

.modernCalendar {
  background-color:#fff;
  border: 1px solid #ececec;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);

  .wptitle {
    @include ms-font-xl;
    @include ms-fontColor-white;
    margin: 0;
    background-color: "[theme: themeDarkAlt]";

    .wptitleIcon {
      vertical-align: middle;
      margin: 0 5px 0 15px;
    }

    .addEventContainer {
      float:right;
      margin: 15px;
      cursor:pointer;
    }
  }

  .wptitle span {
    margin:15px 0;
    display:inline-block;
    vertical-align: middle;
  }

}